/* .bgBody{
    background-color: #d1d7db;
} */
.profile{
    background-color: #9b34eb;
    padding: 13px 17px 17px 17px;
    border-radius: 50%;
    display:block;
    width:50px;
    height:50px;
}
.profile_img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.firstImgblock{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.encrypted{
    font-size: 14px;
    line-height: 20px;
}