/* .bgBody{
    background-color: #d1d7db;
} */
.profile{
    background-color: #9b34eb;
    padding: 13px 17px 17px 17px;
    border-radius: 50%;
    display:block;
    width:50px;
    height:50px;
}
.profile_img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.firstImgblock{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.encrypted{
    font-size: 14px;
    line-height: 20px;
}
.user-card.active {
    background-color: #f0f2f5;
}
.dropdownN {
    position: relative;
    display: inline-block;
}
.dropbtnN {
    border: none;
    cursor: pointer;
}
.dropdownN-contentN {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 1px;
    left: auto;
}
.dropdownN:hover .dropdownN-contentN {
    display: block;
}
.dropdownN-contentN a {
    color: black;
    padding: 9px 11px;
    text-decoration: none;
    display: block;
    font-family: fangsong;
}
.dropdownN-contentN a:hover {background-color: #f1f1f1}