{% extends 'base.html' %}
{% load static %}
{% block title %}Chat{% endblock title%}
{% block content %} 


<!-- CHAT CONVERSION -->
{% if chat_user  or  group_obj %}
    <div class="col-8 p-0" id="chat-conversion-block">
        <div style="background-color: #f0f2f5; padding: 0.8rem;">
            
            {% if chat_user %}
                <div class="d-flex">                    
                
                    <div class="flex-grow-1 d-flex">

                        <input type="hidden" id="second-user" value="{{chat_user.id}}">
                        {% if chat_user.profile_picture %}
                        <img id="second_user_ImgProfile" src="{{ chat_user.profile_picture.url }}" class="profile_img" alt="...">
                        {% else %}
                        <div class="text-white profile" id="second_user_profile_custom" >
                            <span id="customProfile">{{ chat_user.username.0 }}</span>
                        </div>
                        {% endif %}
                        <div class="m-3 fw-bold">{{chat_user.username}}</div>

                    </div>
                    <div class="p-2">
                        <span class="px-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
            {% endif %}

            {% if group_obj %}
                <div class="d-flex">                    
                
                    <div class="flex-grow-1 d-flex" style="cursor: pointer;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        
                        <input type="hidden" id="group-id" value="{{group_obj.id}}">
                        {% if group_obj.group_icon %}
                            <img src="{{ group_obj.group_icon.url }}" class="profile_img" alt="...">
                        {% else %}
                            <span class="group-profile"><i class="fa-solid fa-user-group"></i></span>
                        {% endif %}
                    
                        <div class="ms-3 mt-1 d-flex flex-column">
                            <span class="fw-bold">{{group_obj.group_name}}</span> 
                            <small style="font-size: 13px; color: gray; font-family: 'Times New Roman', Times, serif;">tap here for group info.. </small>   
                        </div>
                    </div>
                    <div class="p-2">
                        <span class="px-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
            {% endif %}
                    
        </div>
        <div class="p-2 message-body" style="background-color: #f7ebe1; height: 34.6rem; overflow-y: scroll; overflow-x: scroll; font-family: auto;"> 
            
        <!-- INDIVIDUAL CHAT -->
        {% if chat_messages %}
           {% for chat in chat_messages %}

                {% if chat.user.id == logged_in_user.id %}
                            
                    <div class="d-flex flex-column align-items-end message-container_receiver mt-2">
                        <span class="p-2 px-3 m-1" style="border-radius: 17px; background-color: #C5E6A1;">{{ chat.message }}</span>
                    </div>
                                        
                {% elif chat.user.id == chat_user.id %}
                                            
                    <div class="d-flex flex-column align-items-start mt-2">
                        <span class="bg-white p-2 px-3 mt-1" style="border-radius: 17px;">{{ chat.message }}</span>
                    </div>
                                            
                {% endif %}

           {% endfor %}
        {% endif %}
        <!-- END INDIVIDUAL CHAT -->

        <!-- GROUP CHAT -->
        {% if group_messages %}
           {% for msg in group_messages %}

                {% if msg.sender.id == logged_in_user.id %}
                            
                    <div class="d-flex flex-column align-items-end message-container_receiver mt-2">
                        <span class="p-2 px-3 m-1" style="border-radius: 17px; background-color: #C5E6A1;">{{ msg.message }}</span>
                    </div>
                                        
                {% else %}
                                            
                    <div class="d-flex flex-column align-items-start mt-2">
                        <small class="text-success">{{ msg.sender.username }}</small>
                        <span class="bg-white p-2 px-3 mt-1" style="border-radius: 17px;">{{ msg.message }}</span>
                    </div>
                                            
                {% endif %}

           {% endfor %}
        {% endif %}
        <!-- END GROUP CHAT -->
        </div>
        <div class="p-3 border d-flex" style="background-color: #f0f2f5;">
            <i class=" fa-regular fa-face-smile mx-1 me-3 mt-2" style="cursor: pointer;"></i>
            <i class=" fa-solid fa-paperclip me-3 mt-2" style="cursor: pointer;"></i>
            <input type="text" class="form-control border" placeholder="Type a Message.." style="font-family: sans-serif;" id="input-message">
            <i class="fa-regular fa-paper-plane mx-1 mt-2 ms-3" style="cursor: pointer;" onclick="msg_send()"></i>
        </div>
    </div>
    

    {% else %}

        <!-- DEFAULT BLOCK -->
        <div class="col-8 p-0" style="background-color: #f0f2f5;" id="default-block">
            <div class="d-flex justify-content-center align-items-center flex-column text-center text-secondary" style="font-family: sans-serif;">
                <img src="{% static 'images/Empty_Page.png' %}" alt="" class="w-50" style="margin: 10rem 0rem 2rem 0rem;">
    
                <div class="">
                    <h2>WhatsApp Web</h2>
                </div>
                <div class="firstImgblock d-flex flex-column mt-1">
                    <span>Send and receive messages without keeping your phone online.</span>
                    <span>Use WhatsApp on up to 4 linked devices and 1 phone at the same time.</span>
                </div>
                <div class="mt-5 encrypted">
                    <span><i class="fa-solid fa-lock"></i></span>
                    <span>End-to-end encrypted</span>
                </div>
            </div>
        </div>
        <!-- END DEFAULT BLOCK -->

    {% endif %}

    <!-- Group Info -->
    <div class="offcanvas offcanvas-end p-0 border" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    {% if group_obj %}
      <div class="offcanvas-body p-0 g-0" style="background-color: #f0f2f5;">
        <div class="d-flex" >
            <div class="p-4">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <span class="p-2 ps-5" class="offcanvas-title" id="staticBackdropLabel" style="font-family: auto; font-size: larger;">Group info</span>
            </div>
        </div>
        <div class="bg-white pb-3">
            <div class="d-flex justify-content-center">
                <div class="m-4">
                    {% if group_obj.group_icon %}
                        <label for="grpIcon" style="cursor: pointer;">
                            <img src="{{ group_obj.group_icon.url }}" class="group-icon-img" id="group-img">
                        </label>
                        <input type="file" id="grpIcon" class="d-none">
                    {% else %}
                        <div class="" id="pre-group-icon">
                            <label for="grpIcon" class="group-icon text-white d-flex flex-column">
                                <span class="d-flex justify-content-center"><i class="fa-2x fa-solid fa-camera"></i></span>
                                <span class="text-center mt-2">ADD GROUP ICON</span>
                            </label>
                            <input type="file" id="grpIcon" class="d-none">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <h4 style="font-family: sans-serif;">{{ group_obj.group_name }}</h4>
                <div class="ps-3 text-secondary"><i class="fa-solid fa-pen"></i></div><br>
            </div>
            <div class="text-center text-secondary" style="font-family: auto">Group - {{ group_obj.group_members.all|length }} participants</div>
        </div>
        <div class="bg-white p-3 my-2">
            <div class="d-flex justify-content-between" style="font-family: 'Times New Roman', Times, serif;font-size: unset">
                <span style="color: #00a884;">Add group discription</span>
                <span class="text-secondary"><i class="fa-solid fa-pen"></i></span>
            </div>
            <div class="text-secondary mt-2" style="font-family: sans-serif; font-size: smaller">Group created by Neha, on 12/01/23 at 9:31 PM </div>
        </div>
        <div class="bg-white my-2 p-3" style="font-family: none;">
            <div class="d-flex">
                <div class="p-2 text-secondary"><i class="fa-solid fa-star"></i></div>
                <div class="p-2">Starred messages</div>
                <div class="ms-auto p-2 text-secondary"><i class="fa-solid fa-angle-right"></i></div>
            </div>            
            <div class="d-flex">
                <div class="p-2 text-secondary"><i class="fa-solid fa-bell"></i></div>
                <div class="p-2">Mute notifications</div>
                <div class="ms-auto form-check form-switch"> 
                    <input class="form-check-input mt-2" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                </div>
            </div>            
        </div>
        <div class="bg-white p-3 my-2" style="font-family: none;">
            <div class="text-secondary">{{ group_obj.group_members.all|length }} participants</div>
            <div class="d-flex mt-2 align-items-center">
                <div class="p-2 text-white"><i class="fa-solid fa-user-plus add-participant-icon"></i></div>
                <div class="p-2">Add participant</div>
            </div>
            {% for group in group_obj.group_members.all %}
                {% if group.id  == logged_in_user.id %}
                    <div class="card border-0 grp-usercard" style="max-width: 540px;cursor: pointer;">
                        <div class="row g-0">
                            <div class="col-md-2">
                                {% if group.profile_picture %}
                                    <img src="{{ group.profile_picture.url }}" class="profile_img m-2" alt="...">
                                {% else %}
                                    <div class="text-white profile m-2"> <span class="profile_img">{{ group.username.0 }}</span> </div>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <small class="text-success p-1" style="background-color: #d2fae6; float: right;">Group admin</small>
                                    <h6 class="card-title mb-0" style="font-family: auto;">You</h6>
                                    <p class="card-text" style="font-family: sans-serif;"><small class="text-muted">Status</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card border-0 grp-usercard" style="max-width: 540px;cursor: pointer;">
                        <div class="row g-0">
                            <div class="col-md-2">
                                {% if group.profile_picture %}
                                    <img src="{{ group.profile_picture.url }}" class="profile_img m-2" alt="...">
                                {% else %}
                                    <div class="text-white profile m-2"> <span class="profile_img">{{ group.username.0 }}</span> </div>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <!-- <small class="text-success p-1" style="background-color: #d2fae6; float: right;">Group admin</small> -->
                                    <div class="dropdownN grp-user-dropdown">
                                        <button class="dropbtnN"><i class="fa-solid fa-angle-down"></i></button>
                                        <div class="dropdownN-contentN">
                                            <a href="#">Make group admin</a>
                                            <a href="#">Remove</a>
                                        </div>
                                    </div>
                                    <h6 class="card-title mb-0" style="font-family: auto;">{{ group.username }}</h6>
                                    <p class="card-text" style="font-family: sans-serif;"><small class="text-muted">Status</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="bg-white p-3 mt-2 mb-4" style="font-family: 'Times New Roman', Times, serif; cursor: pointer;">
            <div class="d-flex text-danger fs-5">
                <div class="p-2"><i class="fa-solid fa-right-from-bracket"></i></div>
                <div class="p-2 fw-bold">Exit group</div>
            </div>
        </div>
      </div>
      {% endif %}
    </div>


{% endblock content %} 