{% extends 'base.html' %}
{% load static %}
{% block title %}Chat{% endblock title%}
{% block content %} 

<div class="container-fluid">
    <!-- <div class="" style="height: 10vh; background-color: #00a840;"></div> -->
    <div class="d-flex justify-content-end">
        <a class="pt-2 pe-3 fs-4" style="font-family: serif; cursor: pointer; color: black;" href="{% url 'logout' %}">Log out</a>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-4 p-0">
            <div class="border-end" style="background-color: #f0f2f5;">
                <div class="d-flex p-3">
                    <div class="flex-grow-1">
                        <form>
                            {% csrf_token %}
                            {% for user in users %}
                                {% if user.phone == request.session.user %}
                                    {% if user.profile_picture %}
                                        <label for="profileIMG" style="cursor: pointer;">
                                            <img src="{{ user.profile_picture.url }}" class="profile_img" alt="..." id="imgchange" user="{{user.id}}">
                                        </label>                                                
                                        <input type="file" name="" id="profileIMG" onchange="changeImage('{{user.id}}')" style="display: none;">
                                        {% else %}
                                        <label for="profileIMG" style="cursor: pointer;">
                                            <div class="text-white profile" id="imgchange" user="{{user.id}}"> <span class="">{{user.username.0}}</span> </div>
                                        </label>
                                        <input type="file" name="" id="profileIMG" onchange="changeImage('{{user.id}}')" style="display: none;">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                    <div class="p-2">
                        <span class="px-2"><i class="fa-solid fa-camera"></i></span>
                        <span><i class="fa-solid fa-message"></i></span>
                        <span class="px-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
            </div>
            <div class="bg-white border shadow d-flex p-2">
                <span class="border border-end-0" style="background-color: #f0f2f5;"><i class="fa-solid fa-magnifying-glass m-2"></i></span>
                
                <input type="text" class="form-control border-start-0 rounded-0" placeholder="Search or start a new chat" style="font-family: fangsong; background-color: #f0f2f5;">
            </div>
                
            <div class="shadow bg-white" style="height: 35.5rem;">
                {% for i in users %}
                    {% if i.phone != request.session.user %}
                    <div class="card rounded-0 border-top-0 border-start-0 border-end-0" style="max-width: 540px;cursor: pointer;" id="user-card" >
                        <div class="row g-0">
                        <div class="col-md-2">
                            {% if i.profile_picture %}
                                <img src="{{ i.profile_picture.url }}" class="profile_img m-3" alt="...">
                            {% else %}
                                <div class="text-white profile m-3"> <span class="profile_img">{{i.username.0}}</span> </div>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title" style="font-family: auto;">{{i.username}}</h5>
                            <p class="card-text" style="font-family: sans-serif;"><small class="text-muted">{{i.updated_at}}</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="col-8 p-0" style="background-color: #f0f2f5;">
            <div class="d-flex justify-content-center align-items-center flex-column text-center text-secondary" style="font-family: sans-serif;">
                <img src="{% static 'images/Empty_Page.png' %}" alt="" class="w-50" style="margin: 10rem 0rem 2rem 0rem;">

                <div class="">
                    <h2>WhatsApp Web</h2>
                </div>
                <div class="firstImgblock d-flex flex-column mt-1">
                    <span>Send and receive messages without keeping your phone online.</span>
                    <span>Use WhatsApp on up to 4 linked devices and 1 phone at the same time.</span>
                </div>
                <div class="mt-5 encrypted">
                    <span><i class="fa-solid fa-lock"></i></span>
                    <span>End-to-end encrypted</span>
                </div>
            </div>
        </div>


        <div class="col-8 p-0 d-none" id="selectedUserBlock">
            <div style="background-color: #f0f2f5; padding: 0.8rem;">
                <div class="d-flex">
                    <div class="flex-grow-1 d-flex">

                        <img id="imgProfileR" src="" class="profile_img" alt="..." style="display: none;">
                        <div class="text-white profile" id="profileReceiver" style="display: none;">
                            <span id="customProfile"></span>
                        </div>
                        

                        <div class="m-3 fw-bold" id="usernameReceiver"></div>
                    </div>
                    <div class="p-2">
                        <span class="px-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
            </div>
            <div class="p-2" style="background-color: #f7ebe1; height: 34.6rem; overflow-y: scroll; overflow-x: scroll; font-family: auto;">
                <div class="p-2">
                    <span>Mansi</span>
                </div>
                <div class="">
                    <span class="bg-white p-2 px-3" style="border-radius: 17px;">Hello! <span class="text-secondary" style="font-size: small;">06:15 AM</span></span>
                </div>
                <div class="d-flex flex-column align-items-end">
                    <div class="p-2">
                        <span>You</span>
                    </div>
                    <div class="">
                        <span class="p-2 px-3" style="border-radius: 17px; background-color: #C5E6A1;">How are you! <span class="text-secondary" style="font-size: small;">06:15 AM</span></span>
                    </div>
                </div>
            </div>
            <div class="p-3 border d-flex" style="background-color: #f0f2f5;">
                <i class=" fa-regular fa-face-smile mx-1 me-3 mt-2" style="cursor: pointer;"></i>
                <i class=" fa-solid fa-paperclip me-3 mt-2" style="cursor: pointer;"></i>
                <input type="text" class="form-control border" placeholder="Type a Message.." style="font-family: sans-serif;" id="input-message">
                <i class="fa-regular fa-paper-plane mx-1 mt-2 ms-3" style="cursor: pointer;"></i>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- #00a884 -->