{% load static %}

<script src="{% static 'js/sidebar.js' %}"></script>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <p>Logged in as: {{ logged_in_user.username }}</p>
    </div>
</div>

<input type="hidden" id="first_user" value="{{logged_in_user.id}}">

<div class="container">
    <div class="row mt-5">
        <div class="col-4 p-0">
            <div class="border-end" style="background-color: #f0f2f5;">
                <div class="d-flex p-3">
                    <div class="flex-grow-1">
                        <form>
                            {% csrf_token %}
                                {% if logged_in_user %}                               
                                    {% if logged_in_user.profile_picture %}
                                        <label for="profileIMG" style="cursor: pointer;">
                                            <img src="{{ logged_in_user.profile_picture.url }}" class="profile_img" alt="..." id="imgchange" user="{{logged_in_user.id}}">
                                        </label>                                                
                                        <input type="file" name="" id="profileIMG" onchange="changeImage('{{logged_in_user.id}}')" style="display: none;">
                                        {% else %}
                                        <label for="profileIMG" style="cursor: pointer;">
                                            <div class="text-white profile" id="imgchange" user="{{logged_in_user.id}}"> <span class="">{{logged_in_user.username.0}}</span> </div>
                                        </label>
                                        <input type="file" name="" id="profileIMG" onchange="changeImage('{{logged_in_user.id}}')" style="display: none;">
                                    {% endif %}
                                {% endif %}
                        </form>
                    </div>
                    <div class="p-2">
                        <span class="px-2"><i class="fa-solid fa-camera"></i></span>
                        <span><i class="fa-solid fa-message"></i></span>
                        <span class="px-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <div class="dropdownN">
                            <button class="dropbtnN"><i
                                    class="fa-solid fa-ellipsis-vertical"></i></button>
                            <div class="dropdownN-contentN">
                                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">New Group</a>
                                <a href="#">Starred messages</a>
                                <a href="{% url 'logout' %}">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white border shadow d-flex p-2">
                <span class="border border-end-0" style="background-color: #f0f2f5;"><i class="fa-solid fa-magnifying-glass m-2"></i></span>
                
                <input id="search_user" type="text" class="form-control border-start-0 rounded-0" placeholder="Search or start a new chat" style="font-family: fangsong; background-color: #f0f2f5;">
                <button class="btn btn-secondary rounded-0" onclick="search_user()">Search</button>
                    
            </div>
                
            <div class="shadow bg-white" style="height: 35.5rem;">
                {% for i in conversation %}
                    {% if i.second_user.id != logged_in_user.id %}
                    <a href="{% url 'chat' i.id %}" style="text-decoration: none;">
                        <div class="card rounded-0 border-top-0 border-start-0 border-end-0" style="max-width: 540px;cursor: pointer;" id="user-card">
                            <input type="hidden" class="second-user" value="{{i.id}}">
                            <div class="row g-0">
                                <div class="col-md-2">
                                    {% if i.second_user.profile_picture %}
                                        <img src="{{ i.second_user.profile_picture.url }}" class="profile_img m-3" alt="...">
                                    {% else %}
                                        <div class="text-white profile m-3"> <span class="profile_img">{{i.second_user.username.0}}</span> </div>
                                    {% endif %}
                                </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family: auto;">{{i.second_user.username}}</h5>
                                    <p class="card-text" style="font-family: sans-serif;"><small class="text-muted">{{i.second_user.updated_at}}</small></p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </a>
                    {% elif i.first_user != logged_in_user.id %}
                    <a href="{% url 'chat' i.id %}" style="text-decoration: none;">
                        <div class="card rounded-0 border-top-0 border-start-0 border-end-0" style="max-width: 540px;cursor: pointer;" id="user-card">
                            <input type="hidden" class="second-user" value="{{i.id}}">
                            <div class="row g-0">
                                <div class="col-md-2">
                                    {% if i.first_user.profile_picture %}
                                        <img src="{{ i.first_user.profile_picture.url }}" class="profile_img m-3" alt="...">
                                    {% else %}
                                        <div class="text-white profile m-3"> <span class="profile_img">{{i.first_user.username.0}}</span> </div>
                                    {% endif %}
                                </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-family: auto;">{{i.first_user.username}}</h5>
                                    <p class="card-text" style="font-family: sans-serif;"><small class="text-muted">{{i.first_user.updated_at}}</small></p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
                {% if groups %}
                    {% for g in groups %}
                        <a href="{% url 'group' g.id %}" style="text-decoration: none;">
                            <div class="card rounded-0 border-top-0 border-start-0 border-end-0" style="max-width: 540px;cursor: pointer;">
                                <div class="row g-0">
                                    <div class="col-md-2">
                                        {% if g.group_icon %}
                                            <img src="{{ g.group_icon.url }}" class="profile_img m-3" alt="...">
                                        {% else %}
                                            <span class="group-profile m-3"><i class="fa-solid fa-people-group"></i></span>
                                        {% endif %}
                                    </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-family: auto;">{{g.group_name}}</h5>
                                        <!-- <p class="card-text" style="font-family: sans-serif;"><small class="text-muted">Ne</small></p> -->
                                    </div>
                                </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>          

        <!-- To Select Group Members -->
        <div class="offcanvas offcanvas-start p-0" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="overflow-y: scroll;">
            <div class="d-flex text-white" style="background-color: #008069;">
                <div class="p-4">
                    <span class="p-2 pe-4" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-arrow-left-long"></i></span>
                    <span class="p-2" class="offcanvas-title" id="staticBackdropLabel" style="font-family: auto; font-size: larger;">Add group participant</span>
                </div>
            </div>

            <div class="ms-5 mt-3 p-2" id="selectUser">
            </div>

            <div class="m-4">
                <input class="form-control border-top-0 border-end-0 border-start-0 rounded-0" type="text" placeholder="Type contact name" style="font-family: revert;">
            </div>
            <div class="offcanvas-body p-0">
                {% for user in all_users %}
                    <div class="card rounded-0 border-top-0 border-start-0 border-end-0" data-user-id="{{user.id}}" style="cursor: pointer;" onclick="addToGrp('{{user.id}}')">
                        <div class="row g-0">
                            <div class="col-md-2">
                                {% if user.profile_picture %}
                                    <img src="{{ user.profile_picture.url }}" class="profile_img m-3" alt="...">
                                {% else %}
                                    <div class="text-white profile m-3"> <span class="profile_img">{{user.username.0}}</span> </div>
                                {% endif %}
                            </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title username" style="font-family: auto;">{{user.username}}</h5>
                                <p class="card-text" style="font-family: sans-serif;"><small class="text-muted">{{user.updated_at}}</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="d-none" style="background-color: #f0f2f5;" id="GoToNext">
                <div class="d-flex justify-content-center m-4">
                    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling1" aria-controls="offcanvasScrolling1" style="text-decoration: none; cursor: pointer;">
                        <div class="text-white" style="background-color: #00a884; padding: 16px 21px; border-radius: 50%;">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- End of Select Group Members -->

        <!-- Last step for a new Group -->
        <div style="background-color: #f0f2f5;" class="offcanvas offcanvas-start p-0" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling1" aria-labelledby="offcanvasScrollingLabel1">
            <div class="d-flex text-white" style="background-color: #008069;">
                <div class="p-4">
                    <span class="p-2 pe-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"><i class="fa-solid fa-arrow-left-long"></i></span>
                    <span class="p-2" class="offcanvas-title" id="staticBackdropLabel" style="font-family: auto; font-size: larger;">New Group</span>
                </div>
            </div>
            <div class="bg-white shadow">
                <div class="d-flex justify-content-center">
                    <div class="m-5">
                        <div class="" id="pre-group-icon">
                            <label for="grpIcon" class="group-icon text-white d-flex flex-column">
                                <span class="d-flex justify-content-center"><i class="fa-2x fa-solid fa-camera"></i></span>
                                <span class="text-center mt-2">ADD GROUP ICON</span>
                            </label>
                            <input type="file" id="grpIcon" class="d-none" onchange="addGroupIcon()">
                        </div>
                        <img src="" class="d-none group-icon-img" id="group-img">
                    </div>
                </div>
                <div class="mx-4" style="font-family: none;">
                    <small class="text-secondary">Group Subject</small>
                </div>
                <div class="mx-4 mt-2 mb-4 d-flex justify-content-between group-name">
                    <input id="input-grpName" class="border-0 mb-1" type="text" placeholder="Type group subject here..." style="font-family: 'Times New Roman', Times, serif;">
                    <i class="fa-regular fa-face-smile" style="font-size: 22px;"></i>
                </div>
            </div>
            <div class="m-4 d-flex justify-content-center d-none" id="lastStep">
                <div class="text-white checkblock" onclick="createGroup()">
                    <i class="fa-solid fa-check" style="font-size: 19px"></i>
                </div>
            </div>
        </div>
        <!-- End of Last step -->

      
<style>
.selectedUserP{
    background-color: #9b34eb;
    padding: 10px 17px;
    border-radius: 50%;
}
.group-icon{
    background-color: #607D8C;
    display: block;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    padding: 4rem 3rem;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
}
.group-icon-img{
    background-color: #607D8C;
    display: block;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    font-family: "Times New Roman", Times, serif;
}
input:focus {
  outline: none;
}
.group-name{
    border-bottom: 2px solid #008069;
}
.checkblock{
    background-color: #00a884;
    border-radius: 50%;
    padding: 13px 16px;
    cursor: pointer;
}
.group-profile{
    background-color: #757575;
    padding: 13px 17px 17px 17px;
    border-radius: 50%;
    display:block;
    width:50px;
    height:50px;
}

</style>

<script>
    var inputGrpName = document.getElementById('input-grpName')

    inputGrpName.addEventListener('input',function(){
        var lastStep = document.getElementById('lastStep');
        if (inputGrpName.value.length > 0) {
            lastStep.classList.remove('d-none');
        } else {
            lastStep.classList.add('d-none');
        }
    })

</script>